<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} E-Flashcard | Study smarter {% endblock %}</title>
    <link rel="stylesheet" href = "/static/style.css">
    {% block extra_css %}{% endblock %}
    <meta name="description" content="Practice flashcards and track your streak. Learn more every day.">
    <link rel="canonical" href="https://yourdomain.com/" />
    
    <meta property="og:title" content="{% block og_title %}E-Flashcard{% endblock %}">
    <meta property="og:description" content="{% block og_description %}Master your flashcards with smart tracking.{% endblock %}">
    <!-- going to have to add the link in here -->
    <!-- <meta property="og:image" content="{% block og_image %}https://yourdomain.com/static/preview.jpg{% endblock %}"> -->
    <meta property="og:url" content="https://yourdomain.com/">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% block twitter_title %}E-Flashcard{% endblock %}">
    <meta name="twitter:description" content="{% block twitter_description %}Study smart and track your progress daily.{% endblock %}">
    <!-- <meta name="twitter:image" content="{% block twitter_image %}https://yourdomain.com/static/preview.jpg{% endblock %}"> -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H3PGF7DQS2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-H3PGF7DQS2');
    </script>
</head>
<body>
    <div class="page-wrapper">
            <h1>E-Flashcard</h1>
        <header>
            <nav>
                
                <div class="nav-left">
                    {% if current_user.is_authenticated %}
                    <p> Hello, {{ current_user.name}}</p>
                    {% else %}
                        <p>Hello Guest</p>
                    {% endif %}
                </div>
                <div class="nav-center">
                    <a href="/">Home</a>
                    <a href="/create">Create</a>
                    <a href="/delete">Delete</a>
                </div>
                <div clas="nav-right">
                    {% if current_user.is_authenticated %}
                        <a href="/logout">Logout</a>
                    {% else %}
                        <a href="/login">Login</a>
                        <a href="/signUp">Sign up</a>
                    {% endif %}
                </div>
            </nav>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>&copy; 2025 E-Flashcard</p>
        </footer>
        
    </div>

    <div class="feedback-container">
        <div class="feedback-button" id="feedback-button">Feedback</div>
            <div class="feedback-panel" id="feedback-panel">
                <input class="message-area" id="feedback-input" placeholder="Enter feedback">
                <button id = "submit-button">Submit</button>
            </div>
        
    </div>
<script src="/static/script.js"></script>
</body>
</html>