.set-page {
    min-height: calc(100vh - 100px); /* Leaves room for header/footer */
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#setText {
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
}
@keyframes flip{
    0%{ transform: scaleY(1);}

    50%{transform: scaleY(0);}

    100%{transform: scaleY(1);}
}
#card {
    width: 600px;
    height: 400px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-image: linear-gradient(to bottom, black 1px, transparent 1px);
    background-size: 100% 20px;
    /* makes it unselectable */
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;   
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    transform: scaleY(1);

}
.flip{
    animation: flip 0.6s ease;
}

#card:hover {
    background-color: #E0E0E0;
    transition: color 0.3s ease;
}

#cardText {
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1
}