
{% extends 'layout.html' %}

{% block title %}Home | E-Flashcard{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="/static/home.css">{% endblock %}
{% block content %}

<div class="home-wrapper">


    <div class="user-info">
        <div class="user-sets">
            <h2>View Your Made Sets</h2>
            <ul id="user_sets">
            </ul>
        </div>
        <div class="account-info">
            <h1>Account info</h1>
            <p id="username">Username: {{ user.name }}</p>
            <p id="score">score: {{ user.score }}</p>
            <!-- have to put link under reset password and figure out how to actually reset password -->
             <a href="{{ url_for('reset')}}">
                <button id="reset-password">Reset Password</button>
             </a>
            
        </div>
    </div>
    

    <div class="user-stats">
        <div class="right">

        
        <h1>Activity for the Past 7 Days</h1>
        <div id="days-practiced-stats">
            
            {% for i in range(7) %}
            <div class="circle-container">
                <div class="circle" id="day{{ i+1 }}"></div>
                <p class="day-of-week">{{ days_of_week[i] }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="right">
        <div class="score-stats" id="score-stats">
            <h1>Score goal: {{ user.score_goal }}</h1>
            <h2>Current score: {{  user.score }}</h2>
            <div class="progress-bar" id="home-score-bar">
                <div class="progress-bar-fill" data-percent="{{ user.percent_completed }}"></div>

            </div>
        </div>
    </div>
    </div>
</div>
<script>
    const fill = document.querySelector('.progress-bar-fill')
    const percent = fill.dataset.percent
    fill.style.width = percent +'%'
</script>
{% endblock %}
